<div  class="tbl_btns" th:fragment="pageButtonFragment">
	<div class="left_btns">
       <button th:if="${liveMenu} == '1'"  id="ex-btn" class="choice_btn" th:text="${#messages.msg('traindata_2.page_button.btn1')}">학습제외</button>
       <button th:if="${liveMenu} == '1'"  id="inc-btn" class="choice_btn" th:text="${#messages.msg('traindata_2.page_button.btn2')}">학습포함</button>
	</div>
	<div class="tbl_right">
		<div class="table_total">[[${#messages.msg('minutes.page_button.page.span1')}]] <span id="tableTotal">0</span>[[${#messages.msg('minutes.page_button.page.span2')}]] </div>
		<div class="select-container">
			<select name="pop_page_count" class="custom-select" id="pop_page_count">
				<option value="10" th:text="${#messages.msg('minutes.page_button.page1')}">10개씩</option>
				<option value="30" th:text="${#messages.msg('minutes.page_button.page2')}">30개씩</option>
				<option value="50" th:text="${#messages.msg('minutes.page_button.page3')}">50개씩</option>
				<option value="100" th:text="${#messages.msg('minutes.page_button.page4')}">100개씩</option>
			</select>
		</div>
	</div>
</div>

