<tbody>
	<tr class="page-data-row" th:each="item, stat : ${cPages.content}" th:attr="data-seq=${item.seq}, data-start-second=${item.start}, data-end-second=${item.end}, data-data-id=${item.dataId}">
		<td style="width: 4%;" th:text="${stat.count + (cPages.number - 1) * cPages.size}"></td>
		<td style="width: 6%;" th:utext="${item.reliability}"></td>
		<td style="width: 26%;" class="stt_txt padding_0">
			<p class="trainingData_text" th:text="${item.sttText}"></p>
		</td>
		<td class="transText padding_0" style="width: 26%;">
			<div class="transDivDB editable" contenteditable="true" spellcheck="false" th:text="${item.trainText}" style="display: none"></div>
		</td>
		<td class="check-box" style="width: 3%;">
			<span> 
				<img class="unchecked" th:src="@{/images/checck.svg}"> 
				<img class="checked" th:src="@{/images/checck_on.svg}">
			</span>
		</td>
		<td style="display: none;" class="channel" th:text="${item.channelChar}"></td>
		<td style="width: 7%;">
			<div class="start_play play_btn">
				<button class="rewind" data-base="start"></button>
				<button class="forward" data-base="start"></button>
			</div>
			<div class="start" th:text="${item.start}"></div>
		</td>
		<td style="width: 14%;">
			<div class="player">
				<div class="play_grid" th:id="'play-'+${stat.index}">
					<audio th:id="'sound-'+${stat.index}" controls controlsList="nodownload" class="sound" data-status="on">
						<source th:src='@{/menu23/downloadPart(fileNm=${vo.fileNewNm},start=${item.start},end=${item.end},category=test)}'>
					</audio>
					<div th:if="${waveValue} == 1" th:attr="id='img-'+${item.seq}, class='wave'">
						<img th:src="@{/images/blank_wave.png}"> 
					</div>
				</div>
		</td>
		<td style="width: 7%;">
			<div class="end_play play_btn">
				<button class="rewind" data-base="end"></button>
				<button class="forward" data-base="end"></button>
			</div>
			<div class="end" th:text="${item.end}"></div>
		</td>
		<td style="width: 7%;" class="timeLength" th:text="${#numbers.formatDecimal(item.end-item.start,0,2)}"></td>
	</tr>
	<tr th:if="${cPages.isEmpty() == true}">
		<td colspan="11" style="text-align: center; line-height: 2.5">데이터가 없습니다.</td>	
	</tr>
</tbody>

<input type="hidden" id="hiddenTrainTextCount" th:value="${trainTextCount}"></input>	
<input type="hidden" id="hiddenCategory" th:value="test"></input>				
<input type="hidden" id="hiddenSeq" th:value="${hiddenSeq}"></input>				
<input type="hidden" id="hiddenReliability" th:value="${reliability}"></input>		
<input type="hidden" id="popupCount" th:value="${hiddenCount}"></input>
<input type="hidden" id="popupPageSize" th:value="${cPages.pageable.pageSize}"></input>		
<input type="hidden" id="lFirstLimit" th:value="${lFirstLimit}"></input>		
<input type="hidden" id="lLastLimit" th:value="${lLastLimit}"></input>		
<input type="hidden" id="rFirstLimit" th:value="${rFirstLimit}"></input>		
<input type="hidden" id="rLastLimit" th:value="${rLastLimit}"></input>	
