	<tr th:each="item, stat : ${cPages.content}" class="page-data-row page_link" th:classappend="(${#strings.equals(item.candidate,'Y')} ? 'candidate' : '') + ' ' + (${#strings.equals(item.useYn,'N')} ? 'use-no': '')" th:attr="data-seq=${item.seq}">
		<td class="check-box" style="width: 5%;">
			<span >
				<img class="unchecked" th:src="@{/images/checck.svg}"/>
				<img class="checked" th:src="@{/images/checck_on.svg}"/>
			</span>
		</td>	
       <td style="width: 5%;" th:text="${stat.count + (cPages.number - 1) * cPages.size}"></td>            
       <td class="align_left"  style="width: 15%;" th:text="${item.subject}"></td>
       <td class="align_left"  style="width: 35%;" th:utext="${item.trainText}"></td>
       <td  style="width: 5%;" th:class="${item.useYn == 'Y' ? (item.dataId == '' ? 'useTriangle' : 'useI') : (item.dataId == '' ? 'notUseI' : 'useI')}"></td>      
       <td  style="width: 15%;" th:utext="${item.dataId}"></td>
       <td  style="width: 5%;" th:utext="${item.start}"></td>
       <td  style="width: 5%;" th:utext="${item.end}"></td>
       <td  style="width: 10%;" th:text="${item.createdAt}"></td>
	</tr>
	<tr th:if="${cPages.isEmpty() == true}">
	   <td colspan="9" class="" style="text-align: center; line-height:2.5">데이타가 없습니다.</td>
	</tr>
 	<input type="hidden" id="hiddenCount" th:value="${hiddenCount}"></input>
 	<input type="hidden" id="hiddenPageSize" th:value="${cPages.pageable.pageSize}"></input>