<!-- 공통 고정 타이틀 및 검색 -->
<div id = "tablePage">
	<div class="content_tit fullMeeting_tit" th:switch="${liveMenu}">
	    <div th:case="1" class="title">
	        <h2 th:text="${#messages.msg('sideMenu.train.subMenu1')}">학습 Data 생성</h2>
	    </div>
	    <div th:case="3" class="title">
	        <h2 th:text="${#messages.msg('sideMenu.train.subMenu4')}">휴지통</h2>
	    </div> 
	     
	    <div th:replace="thymeleaf/traindata/head_search :: headSearchFragment"></div>  

	</div>
	<!-- //공통 고정 타이틀 및 검색 -->
	
	<!-- 전체 회의록 -->
	<div class="content_desc content_fullMeeting">
	
		<div th:replace="thymeleaf/traindata/page_button :: pageButtonFragment"></div> 

	    <div class="table_content">
	        <table class="table_title">
	            <thead>
	                <tr style="height: 40px; background-color: #F2F4F7;">
	                    <th style="width: 2%;">
	                        <span class="all check-box">
	                            <img class="unchecked" th:src="@{/images/checck.svg}"/>
	                            <img class="checked" th:src="@{/images/checck_on.svg}"/>
	                        </span>
	                    </th>
	                    <th style="width: 2%"><span th:text="${#messages.msg('traindata.content.th1')}">번호</span></th>
	                    <th style="width: 40%;"><span th:text="${#messages.msg('traindata.content.th3')}">제목</span></th>
	                    <th style="width: 5%"><span th:text="${#messages.msg('traindata.content.th4')}">신뢰도</span></th>
	                    <th style="width: 5%;" th:text="${#messages.msg('traindata.content.th5')}">수정문장수</th>
	                    <th style="width: 9%;" th:text="${#messages.msg('traindata.content.th6')}">파일길이</th>
	                    <th style="width: 11%;" th:text="${#messages.msg('traindata.content.th7')}"><span>등록일시</span></th>
	                    <th style="width: 11%;" th:text="${#messages.msg('traindata.content.th8')}">수정일시</th>
	                </tr>
	            </thead>
	        </table>
	        <div class="tbl_scroll">
	            <table>
	                <tbody id="tableRow">
	                </tbody>
	            </table>
	            
	            <div th:replace="fragments/page_indicator :: pageIndicatorFragment"></div>	            
	        </div>
	        <div th:replace="thymeleaf/traindata/content/upload :: uploadFileFragment"></div> 
	    </div>
	</div>
</div>
 <!-- //전체 회의록 -->
