<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />

<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/modal.css}">
<link rel="stylesheet" th:href="@{/css/ext/jquery-ui.css}">

<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery/jquery.bpopup.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/comm/common_ui.js}"></script>
<script type="text/javascript" th:src="@{/js/comm/common_sgsas.js}"></script>
<script type="text/javascript" th:src="@{/js/comm/common_page.js}"></script>
<script type="text/javascript" th:src="@{/js/comm/calendar.js}"></script>
<script type="text/javascript" th:src="@{/js/upload/modal-upload.js}"></script>
<script type="text/javascript" th:src="@{/js/upload/modal-rec.js}"></script>