<div class="tbl_pagination" th:fragment="pageIndicatorFragment">
    <ul>
        <li>
            <a href="javascript:void(0);" class="arrow first" style="display:none">
                <img th:src="@{/images/pagi_first.svg}" alt="처음으로">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="arrow prev" style="display:none">
                <img th:src="@{/images/pagi_prev.svg}" alt="이전">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="arrow next" style="display:none">
                <img th:src="@{/images/pagi_next.svg}" alt="다음">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="arrow last" style="display:none">
                <img th:src="@{/images/pagi_last.svg}" alt="마지막으로">
            </a>
        </li>
    </ul>
</div>

