<tr class="page-data-row page_link" th:each="item, stat : ${cPages.content}" th:attr="data-seq=${item.seq}, data-lang=${item.lang}">
    <td class="check-box" style="width: 2%;">
	    <span>
	        <img class="unchecked" th:src="@{/images/checck.svg}">
	        <img class="checked" th:src="@{/images/checck_on.svg}">
	    </span>
	</td>
	<td class="favorites-check" style="width: 2%;" th:classappend="${item.remark ? ' active' : ''}">
	    <span>
	        <img class="unchecked" th:src="@{/images/favorites.svg}">
	        <img class="checked" th:src="@{/images/favorites_on.svg}">
	    </span>
	</td>
	<td style=" width: 3%;">
		<img class="upload" th:if="${item.uploadType == 'file'}" th:src="@{/images/source_upload_icon.svg}" alt="Upload Icon">
		<img class="upload" th:if="${item.uploadType == 'recoding'}" th:src="@{/images/source_voice_icon.svg}" alt="Upload Icon">		
	</td>
	<td class="align_left" style="width: 32%;"><a th:utext="${item.subject}"></a></td>
	<td style="width: 8%;" th:utext="${item.timeDurationFormatted}"></td>
	<td style="width: 8%;" th:text="${item.lang == 'ko' ? '한국어' : (item.lang == 'en' ? '영어' : item.lang)}"></td>
	<td style="width: 10%;" th:utext="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
	<td style="width: 10%;" th:utext="${#temporals.format(item.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>	
	<td style="width: 8%;" th:utext="${item.tcName}"></td>	
</tr>
<tr th:if="${cPages.isEmpty() == true}" class="page-data-row">
   <td colspan="8" class="align-middle">데이터가 없습니다.</td>
</tr>
<input type="hidden" id="hiddenCount" th:value="${hiddenCount}"></input>
<input type="hidden" id="hiddenPageSize" th:value="${cPages.pageable.pageSize}"></input>
