	<tr th:each="item, stat : ${cPages.content}" class="data-row" th:attr="data-seq=${item.seq}, data-start-second=${item.start}, data-end-second=${item.end}, data-data-id=${item.dataId}">
		<td th:text="${(cPages.pageable.pageNumber - 1)* cPages.pageable.pageSize + stat.count}"></td>
		<td th:text="${item.division}"></td>
		<td th:text="${item.reliability}"></td>
		<td th:text="${item.pct}"></td>
		<td th:utext="${item.trainText}"></td>
		<td th:utext="${item.sttText}"></td>
		<td class="player">
				<audio th:id="'sound-'+${stat.index}" controls controlsList="nodownload"  class="sound" data-status="on">
					<source th:src='@{/menu23/downloadPart(fileNm=${item.fileNewNm},start=${item.start},end=${item.end},category=test)}'>
				</audio>
		</td>
		<td th:text="${item.entireChar}"></td>
		<td th:text="${item.errorChar}"></td>
		<td th:utext="${item.fileNewNm}"></td>
	</tr>
	<tr th:if="${cPages.isEmpty() == true}" class="data-row">
		<td class="align-middle" colspan="10">데이타가 없습니다.</td>
	</tr>
	<input type="hidden" id="hiddenFail" th:value="${hiddenFail}"></input>
	<input type="hidden" id="hiddenCountPopup" th:value="${hiddenCount}"></input>
	<input type="hidden" id="hiddenModelId" th:value="${hiddenModelId}"></input>
	<input type="hidden" id="hiddenPageSize" th:value="${cPages.pageable.pageSize}"></input>