<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8" />
    <title>학습 DATA</title>
    <th:block layout:fragment="script">
        <script type="text/javascript" th:src="@{/js/traindata/traindata.js}"></script>
        <script type="text/javascript" th:src="@{/js/traindata/traindata-detail.js}"></script>     
        <script type="text/javascript" th:src="@{/js/audio/queue.js}"></script>
        <script type="text/javascript" th:src="@{/js/audio/audio-player.js}"></script>   
        <script type="text/javascript" th:src="@{/js/audio/wave-spectrum.js}"></script>   
        <script type="text/javascript" th:src="@{/js/comm/popup-in-popup.js}"></script>
        <script type="text/javascript" th:src="@{/js/diffText/diff_match_patch.js}"></script>
        <script type="text/javascript" th:src="@{/js/diffText/diff_match_patch_add.js}"></script>
    </th:block>
</head>
<body>
    <div layout:fragment="content" class="common_content">
        <div th:replace="~{thymeleaf/traindata/content/table-content}"></div>
    </div>
</body>
</html>