	<tr th:each="item, stat : ${cPages.content}" class="page-data-row page_link" th:attr="data-model-id=${item.modelId},data-name-id=${item.name},data-seq=${item.seq}">	   
	   <td class="align-middle" style="width: 5%" th:text="${stat.count + (cPages.number - 1) * cPages.size}"></td>  		
	   <td class="align-middle" style="width: 18%" th:text="${item.name}"></td>
	   <td class="align-middle" style="width: 15%" th:utext="${#strings.substring(item.startedAt, 0, 10) == null ? '' : #strings.substring(item.startedAt, 0, 10)+' ' + #strings.substring(item.startedAt, 11, 16)}"></td>
	   <td class="align-middle" style="width: 15%" th:text="${#strings.substring(item.endedAt, 0, 10) == null ? '' : #strings.substring(item.endedAt, 0, 10)+' ' + #strings.substring(item.endedAt, 11, 16)}"></td>
	   <td class="align-middle" style="width: 13%" th:utext="${item.duration}"></td>
	   <td class="align-middle" style="width: 7%" th:utext="${item.status}"></td>
	   <td class="align-middle" style="width: 7%" th:utext="${item.successTrueFalse}"></td>
	   <td class="align-middle"style="width: 7%" th:utext="${item.cer == 0 ? '' : #numbers.formatInteger(item.cer,2) + ' %'}"></td>
	</tr>
	<tr th:if="${cPages.isEmpty() == true}" class="page-data-row">
	   <td colspan="8" class="align-middle" th:text="${#messages.msg('data.empty')}" >데이터가 없습니다.</td>
	</tr>
 	<input type="hidden" id="hiddenCount" th:value="${hiddenCount}"></input>
 	<input type="hidden" id="hiddenPageSize" th:value="${cPages.pageable.pageSize}"></input>
 	