	<tr th:each="item, stat : ${cPages.content}" class="page-data-row" th:attr="data-seq=${item.seq}, data-color=${item.color}" id="scheduleList">
		<td class="check-box" style="width: 2%;">
			<span>
				<img class="unchecked" th:src="@{/images/checck.svg}">
				<img class="checked" th:src="@{/images/checck_on.svg}">
			</span>
		</td>
	   <td style="width: 5%;" th:text="${stat.count + (cPages.number - 1) * cPages.size}"></td>     
	   <td style="width: 19%;"  th:text="${item.startTime}"></td>	   
	   <td  style="width: 19%;" th:text="${item.startedAt == null ?  '' :  #temporals.format(item.startedAt,  'yyyy-MM-dd HH:mm')}"></td>  
	   <td  style="width: 19%;" th:text="${item.endedAt == null ? '' : #temporals.format(item.endedAt, 'yyyy-MM-dd HH:mm')}"></td>
	   <td style="width: 15%;"  th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}"></td>  	 	   
	   <td  style="width: 8%;" th:text="${item.status}"></td>
	   <td  style="width: 5%;" th:class="${item.successTrueFalse == 'o'} ? 'useI' : (${item.successTrueFalse == 'x'} ? 'notUseI' : '')"></td>	 	   
	</tr>
	<tr th:if="${cPages.isEmpty() == true}" class="page-data-row">
	   <td colspan="8" >데이터가 없습니다.</td>
	</tr>
 	<input type="hidden" id="hiddenCount" th:value="${hiddenCount}"></input>
 	<input type="hidden" id="hiddenPageSize" th:value="${cPages.pageable.pageSize}"></input>