<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.vol.solunote.mapper.comm.CommonMapper">
    
    <resultMap id="domainInfo" type="com.vol.solunote.model.vo.comm.DomainVo">
	    <result property="seq" column="SEQ" javaType="int" />
	    <result property="domainCode" column="TC_DOMAIN_CODE" javaType="java.lang.String" />
	    <result property="domainName" column="TC_DOMAIN_NAME" javaType="java.lang.String" />
	    <result property="domainExplain" column="TC_DOMAIN_EXPLAIN" javaType="java.lang.String" />
	    <result property="userSeq" column="TC_USER_SEQ" javaType="int" />
	    <result property="useYn" column="TC_USEYN" javaType="java.lang.String" />
	    <result property="regDate" column="TC_REGDATE" javaType="java.lang.String" />
	</resultMap>
        
    <resultMap id="sesrverInfo" type="Map">
	    <result property="seq" column="SEQ" javaType="int" />
	    <result property="svrNick" column="TC_SVRNICK" javaType="java.lang.String" />
	    <result property="svrChannel" column="TC_SVRCHANNEL" javaType="java.lang.String" />
	    <result property="wavfileDays" column="TC_WAVFILE_DAYS" javaType="java.lang.String" />
	    <result property="mp3fileDays" column="TC_MP3FILE_DAYS" javaType="java.lang.String" />
        <result property="svrIp" column="TC_SVRIP" javaType="java.lang.String" />
	    <result property="svrPort" column="TC_SVRPORT" javaType="java.lang.String" />
	    <result property="regDate" column="TC_REGDATE" javaType="java.lang.String" />
	    <result property="useYn" column="TC_USEYN" javaType="int" />
	</resultMap>
        
    <select id="selectDomainList" resultMap="domainInfo">
        CALL fn_web_common_domain_info_list()
    </select>
    
    <select id="selectSchedulerDomainList" resultMap="domainInfo">
        CALL fn_web_menu14_scheduler_domain_list()
    </select>
        
    <select id="selectServerList" resultMap="sesrverInfo">
        CALL fn_web_common_server_info_list()
    </select>
        
    <select id="selectRatio" resultType="java.lang.Long">
        CALL fn_get_ref_ratio()
    </select>
    
    <select id="selectRatioConfigration" resultType="HashMap">
        CALL fn_get_ref_ratio()
    </select>

    <select id="selectInfoDivision" resultType="Map">
      SELECT 
      	SEQ as seq
		,division
		,army_name AS armyName
		,DATE_FORMAT(created_at, '%Y-%m-%d %H:%i') AS createdAt
		,DATE_FORMAT(updated_at, '%Y-%m-%d %H:%i') AS updatedAt
		,(
			SELECT count(tid.division) 
			FROM TB_CS_INFO_DIVISION tid
			<if test='division != null and division != "" '>
			WHERE tid.division =  #{division}
			</if>
		) AS hiddenCount		
		FROM TB_CS_INFO_DIVISION
		<if test='division != null and division != "" '>
			WHERE division =  #{division}
		</if>
		order by seq 
		<if test='offsetPageable != null and getlist == 1 ' >
       		limit #{offsetPageable.offset}, #{offsetPageable.pageSize}
        </if>
    </select>      
</mapper>
