<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vol.solunote.mapper.division.DivisionMapper">
                       
    <select id="checkDivision" resultType="int">
        SELECT COUNT(*) as cnt
        FROM tb_cs_info_division 
        WHERE division = #{division}
    </select>  
    
    
    <insert id="divisionRes">
        INSERT tb_cs_info_division (
        division, army_name) 
        VALUES (
        #{division},#{armyName});
    </insert>    

    <select id="divisionInfo" resultType="Map">
		select 
				seq as seq
                ,division  as division
                ,army_name as    armyName	 		
      	from tb_cs_info_division
		where division =    #{division}   		
    </select>       
    
    <update id="changeDivisionInfo"  > 
		UPDATE tb_cs_info_division
      	SET   
				army_name = #{armyNameChange}
				,division = #{division}
				,updated_at = CURRENT_TIMESTAMP
       WHERE seq = #{seq}
    </update>       
    
    <delete id="deleteDivisionInfo" >
		DELETE FROM tb_cs_info_division 
		WHERE division in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </delete>   
     
    <select id="selectInfoDivision" resultType="Map">
      SELECT 
      	seq as seq
		,division
		,army_name AS armyName
		,DATE_FORMAT(created_at, '%Y-%m-%d %H:%i') AS createdAt
		,DATE_FORMAT(updated_at, '%Y-%m-%d %H:%i') AS updatedAt
		,(
			SELECT count(tid.division) 
			FROM tb_cs_info_division tid
			<if test='division != null and division != "" '>
			WHERE tid.division =  #{division}
			</if>
		) AS hiddenCount		
		FROM tb_cs_info_division
		<if test='division != null and division != "" '>
			WHERE division =  #{division}
		</if>
		order by seq 
		<if test='offsetPageable != null and getlist == 1 ' >
       		limit #{offsetPageable.offset}, #{offsetPageable.pageSize}
        </if>
    </select>   
    
</mapper>