<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.vol.solunote.mapper.menu.MenuMapper">

	<update id="updateMenu" parameterType = "Map">
        INSERT INTO tb_cs_menu_user (user_seq, menu_seq, menu_rights, down_rights, base_menu_seq) 
        VALUES 
         <foreach collection="menuList" item="item" separator=" , " >
            (#{userInfo.seq}, #{item.key}, #{item.editYn}, #{item.downYn}, 0)
         </foreach>
    </update>
    
    
    <update id="updateAuthBase" parameterType = "Map">
        INSERT INTO tb_cs_menu_base (auth_seq, menu_seq, menu_rights, down_rights) 
        VALUES 
         <foreach collection="menuList" item="item" separator=" , " >
            (#{menuInfo.seq}, #{item.key}, #{item.editYn}, #{item.downYn})
         </foreach>
    </update>
    
    <delete id="deleteAuthBase" parameterType = "String">
        DELETE FROM tb_cs_menu_base WHERE auth_seq = #{seq}
    </delete>
    
    <select id="findTopMenu"  resultType = "java.lang.String">
        SELECT menu_name FROM tb_cs_menu_main WHERE menu_parent_seq = 0
    </select>
    

    
    <delete id="deleteMenu" parameterType="int">
        DELETE FROM tb_cs_menu_user WHERE user_seq = #{seq}
    </delete>
    
    <select id="findBaseAuthList"  resultType = "Map">
        SELECT
            auth_seq as authSeq, auth_name as authName, auth_type as authType 
        FROM tb_cs_menu_auth
        WHERE use_yn =1
    </select>
    
	<select id="readMenuAll" resultType="Map">
		SELECT
		    case 
				when menu_level = 100
					then "ROLE_ADMIN"
				when menu_level = 0
					then "ROLE_USER"
				end AS authorityName 
		    , url AS url
		FROM tb_cs_menu
	</select>          

    <select id="getAuthList"  resultType = "menuListVo">
	   	SELECT seq AS seq
			,menu_code AS menuCode
			,menu_main AS menuMain
			,menu_sub AS menuSub
			,menu_level AS menuLevel	
			,menu_count AS menuCount		
    	FROM tb_cs_menu    	
    </select>
    
    
</mapper>
      