<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.vol.solunote.comm.mapper.ReportMapper">

    <update id="insertStatus" parameterType = "Map">
        INSERT INTO tb_cs_info_svr_stsrt (tc_svr, tc_workdate, tc_worktime, tc_cpu_ratio, tc_ram_full, tc_ram_free, tc_hdd_full, tc_hdd_free) 
        VALUES 
            (#{serverSeq}, #{workDate}, #{workTime}, #{CPUratio}, #{RAMfull}, #{RAMfree}, #{HDDfull}, #{HDDfree})
    </update>
    
    <select id="setReportHourly" parameterType="String"  resultType="int">
        CALL fn_report_hourly(#{thisDay})
    </select>
    
    <select id="setReportDaily" parameterType="String"  resultType="int">
        CALL fn_report_daily(#{thisDay})
    </select>
    
</mapper>
