<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.vol.solunote.mapper.rest.RestMapper">
    <resultMap id="restUserResult" type="restUserVo">
        <result property="seq" column="seq" javaType="int" />
        <result property="tcId" column="userId" javaType="java.lang.String" />
        <result property="uid" column="userId" javaType="java.lang.String" />
        <result property="tcPwd" column="password" javaType="java.lang.String" />
    </resultMap>
    
    <resultMap id="restDomain" type="restDomainVo">
        <result property="seq" column="seq" javaType="int" />
        <result property="domainCode" column="tc_domain_code" javaType="java.lang.String" />
        <result property="domainName" column="tc_domain_name" javaType="java.lang.String" />
    </resultMap>
    
    <resultMap id="restSTTQ" type="sttResultVo">
        <result property="sttSeq" column="seq" javaType="int" />
        <result property="callId" column="tc_call_id" javaType="java.lang.String" />
        <result property="status" column="tc_workstatus" javaType="java.lang.String" />
        <result property="callUrl" column="tc_rest_url" javaType="java.lang.String" />
    </resultMap>
    
    <resultMap id="restSTTResult" type="sttResultVo">
        <result property="sttSeq" column="seq" javaType="int" />
        <result property="seq" column="rnum" javaType="int" />
        <result property="callId" column="tc_call_id" javaType="String" />
        <result property="regDate" column="tc_call_startdate" javaType="String" />
        <result property="regTime" column="tc_call_starttime" javaType="String" />
        <result property="fileId" column="tc_file_id" javaType="String" />
        <result property="fileName" column="tc_file_name" javaType="String" />
        <result property="duration" column="tc_duration" javaType="String" />
        <result property="channel" column="tc_channel" javaType="String" />
        <result property="frameSp" column="tc_frame_sp" javaType="String" />
        <result property="frameEp" column="tc_frame_ep" javaType="String" />
        <result property="sttResult" column="tc_stt_result" javaType="String" />
    </resultMap>

    <select id="getMember" parameterType="restUserVo" resultMap="restUserResult">
        SELECT 
            seq, tc_id as userId, tc_pw as password, tc_name as name, tc_email as email, tc_level as userLevel
            , 1 as isAccountNonExpired, 1 as isAccountNonLocked, 1 as isCredentialsNonExpired, 1 as isEnabled
        FROM tb_cs_info_user
        WHERE tc_id = #{uid}
        AND tc_useyn= 1
    </select>
    
    <select id="getDomainInfo" resultMap="restDomain">
        SELECT
            seq, tc_domain_code, tc_domain_name 
        FROM tb_cs_info_domain
        WHERE tc_useyn = 1
        LIMIT 1
    </select>
    
    <update id="setUpdateSTT" parameterType = "int">
        DELETE FROM tb_queue_conn  
        WHERE seq=#{sttSeq}
    </update>
        
    <select id="getSTTQ"  parameterType="int" resultMap="restSTTQ">
        SELECT tqc.seq, tqc.tc_workstatus, ir.tc_call_id 
        FROM tb_queue_conn tqc 
        INNER JOIN tb_stt_info_record ir ON tqc.seq =ir.seq 
        WHERE tqc.seq=#{sttSeq}
    </select>
        
    <select id="getSTTQList" resultMap="restSTTQ">
        SELECT tqc.seq, tqc.tc_workstatus, ir.tc_call_id, cd.tc_rest_url 
        FROM tb_queue_conn tqc 
        INNER JOIN tb_stt_info_record ir ON tqc.seq =ir.seq
        INNER JOIN tb_cs_info_domain cd ON ir.tc_domain_seq =cd.seq 
        WHERE tqc.tc_workstatus =3
    </select>
    
    <select id="getSTTResult" parameterType="int" resultMap="restSTTResult">
        call fn_rest_stt_result(#{sttSeq})
    </select>
    
    <select id="getLastSTTSEQ" parameterType="String" resultType="sttResultVo">
        SELECT ic.seq FROM 
		tb_stt_csconn ic INNER JOIN
		 tb_stt_info_record ir ON ic.seq = ir.seq AND ic.tc_workstatus =3
		WHERE ir.tc_domain_code = #{domainCode}
		ORDER  BY ic.seq DESC
		LIMIT 1
    </select>
    
    <select id="insertWavFile" parameterType="java.util.HashMap" resultType="int">
        CALL fn_web_popup_184_file_upload(#{tc_call_id}, #{tc_call_startdate}, #{tc_call_starttime}, #{tc_call_enddate}, #{tc_call_endtime}
            , #{tc_domain_code}, #{tc_domain_name}, #{tc_file_name}, #{tc_file_id}, #{tc_file_org_path})
    </select>
    
</mapper>