<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.vol.solunote.mapper.server.ServerMapper">

    <resultMap id="ServerInfo" type="serverVo">
        <result property="seq" column="seq" javaType="int" />
        <result property="svrNick" column="tc_svrnick" javaType="java.lang.String" />
        <result property="svrIp" column="tc_svrip" javaType="java.lang.String" />
        <result property="svrPort" column="tc_svrport" javaType="int" />
        <result property="svrChannel" column="tc_svrchannel" javaType="int" />
        <result property="svrGroup" column="tc_svrgroup" javaType="int" />
        <result property="wavfileDays" column="tc_wavfile_days" javaType="int" />
        <result property="mp3fileDays" column="tc_mp3file_days" javaType="int" />
        <result property="useYn" column="tc_useyn" javaType="int" />
        <result property="regDate" column="tc_regdate" javaType="java.lang.String" />
    </resultMap>
    
    <resultMap id="agentInfo" type="agentVo">
        <result property="seq" column="seq" javaType="int" />
        <result property="agentId" column="tc_agent_id" javaType="java.lang.String" />
        <result property="agentName" column="tc_agent_name" javaType="java.lang.String" />
        <result property="agentExtno" column="tc_agent_extno" javaType="java.lang.String" />
        <result property="agentIp" column="tc_agent_ip" javaType="java.lang.String" />
        <result property="agentEmail" column="tc_agent_email" javaType="java.lang.String" />
        <result property="agentPhoneno" column="tc_agent_phoneno" javaType="java.lang.String" />
        <result property="regDate" column="tc_regdate" javaType="java.lang.String" />
        <result property="upDate" column="tc_update" javaType="java.lang.String" />
    </resultMap>
    
    <resultMap id = "domainInfo" type="serverDomainVo">
        <result property="seq" column="seq" javaType="int" />
        <result property="domainCode" column="tc_domain_code" javaType="java.lang.String" />
        <result property="domainName" column="tc_domain_name" javaType="java.lang.String" />
        <result property="domainExplain" column="tc_domain_explain" javaType="java.lang.String" />
        <result property="userSeq" column="tc_user_seq" javaType="int" />
        <result property="userId" column="tc_id" javaType="String" />
        <result property="userName" column="tc_user_name" javaType="java.lang.String" />
        <result property="useYn" column="tc_useyn" javaType="java.lang.String" />
        <result property="regDate" column="tc_regdate" javaType="java.lang.String" />
    </resultMap>    
    
    <select id="selectServerList" resultMap="ServerInfo">
        SELECT * FROM tb_cs_info_svr
    </select>    
    
    <update id = "updateServer" parameterType = "Map">
        UPDATE tb_cs_info_svr
        SET tc_svrnick = #{svrNick}, tc_wavfile_days = #{wavfileDays}, tc_mp3file_days= #{mp3fileDays}, tc_useyn = #{useYn} 
        WHERE seq = #{seq}
    </update>
    
    <select id="checkServerInfo" resultType="int">
        CALL fn_web_popup_173_is_server( #{seq}, #{svrNick})
    </select>
    
    <update id="updateAgent" parameterType = "Map">
        UPDATE tb_cs_info_agent
        SET tc_agent_name = #{agentName}, tc_agent_extno = #{agentExtno}, tc_agent_email= #{agentEmail}, tc_agent_phoneno = #{agentPhoneno} 
        WHERE seq = #{seq}
    </update>  
    
    <insert id="insertAgent" parameterType = "Map">
        INSERT INTO tb_cs_info_agent (tc_agent_id, tc_agent_name, tc_agent_extno, tc_agent_phoneno, tc_agent_email )
        VALUES (#{agentId}, #{agentName}, #{agentExtno}, #{agentPhoneno}, #{agentEmail})
    </insert>
    
    <select id = "findAgentInfo" resultMap="agentInfo">
        SELECT * FROM tb_cs_info_agent WHERE seq = #{seq}
    </select>
    
    <delete id="deleteAgent" parameterType = "int"> 
        DELETE FROM tb_cs_info_agent 
        WHERE seq = #{seq} 
    </delete>
    
    <delete id="deleteDomain" parameterType = "int"> 
        DELETE FROM TB_CS_INFO_DOMAIN 
        WHERE seq = #{seq} 
    </delete>
    
    <select id="checkDomain" resultType="int">
        SELECT COUNT(*)
        FROM TB_CS_INFO_DOMAIN 
        WHERE tc_domain_code = #{code} AND seq != #{seq}
    </select>
    
    <insert id="insertDomain" parameterType = "Map">
        CALL fn_web_popup_174_domain_info_insert(#{domainCode}, #{domainName}, #{domainExplain}, #{userSeq}, #{useYn})
    </insert>
    
    <update id="updateDomain" parameterType = "Map">
        UPDATE TB_CS_INFO_DOMAIN 
        SET tc_domain_code = #{domainCode}, tc_domain_name = #{domainName}, tc_domain_explain = #{domainExplain}, tc_useyn = #{useYn}
        WHERE seq = #{seq}    
    </update>  
    
    <select id="findDomainInfo" resultMap="domainInfo" >
        CALL fn_web_popup_174_domain_info(#{seq})
    </select>                      
        
</mapper>