<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vol.solunote.mapper.siteuser.SiteUserMapper">

    <resultMap id="userResult" type="siteUserVo">
        <result property="seq" column="seq" javaType="int" />
        <result property="tcId" column="tc_id" javaType="java.lang.String" />
        <result property="tcPw" column="tc_pw" javaType="java.lang.String" />
        <result property="tcName" column="tc_name" javaType="java.lang.String" />
        <result property="tcNick" column="tc_nick" javaType="java.lang.String" />
        <result property="tcEmail" column="tc_email" javaType="java.lang.String" />
        <result property="tcPhone" column="tc_phone" javaType="java.lang.String" />
        <result property="tcType" column="tc_type" javaType="int" />
        <result property="tcGroup" column="tc_group" javaType="int" />
        <result property="tcLevel" column="tc_level" javaType="int" />
        <result property="tcUseYn" column="tc_useyn" javaType="short" />
        <result property="tcLogin" column="tc_login" javaType="int" />
        <result property="tcRegDate" column="tc_regdate" javaType="java.lang.String" />
    </resultMap>

	<select id="readUser" parameterType="String" resultType="com.vol.solunote.model.entity.siteuser.SiteUser">
		SELECT 
		    seq as username, tc_id as userId, tc_pw as password, tc_name as name, tc_email as email, tc_level as userLevel
		    , 1 as isAccountNonExpired, 1 as isAccountNonLocked, 1 as isCredentialsNonExpired, 1 as isEnabled
		FROM tb_cs_info_user
		WHERE tc_id = #{username}
		AND tc_useyn= 1
	</select>
	<select id="readAuthority" parameterType="String" resultType="String">

		SELECT
		case 
			when tc_level = 100
				then "ADMIN"
			when tc_level = 0
				then "USER"
		end AS authority_name 
		FROM tb_cs_info_user	
		WHERE tc_id=#{username}	
		AND tc_useyn= 1
	</select>
	
	<select id="readMenuAll" resultType="map">
		SELECT
		    case 
				when menu_level = 100
					then "ROLE_ADMIN"
				when menu_level = 0
					then "ROLE_USER"
				end AS authorityName 
		    , URL AS url
		FROM tb_cs_menu
	</select>

    <select id="findUserInfo" resultMap="userResult">
        select * 
        from tb_cs_info_user
		where seq = #{seq};
    </select>

    <update id="updateUser" parameterType = "Map">
        UPDATE tb_cs_info_user
        <if test='tcPw == null or tcPw == ""'>
        SET tc_name = #{tcName}, tc_email= #{tcEmail}, tc_phone = #{tcPhone}
        </if>
        <if test='tcPw != null and tcPw != ""'>
        SET tc_pw = #{tcPw}, tc_name = #{tcName}, tc_email= #{tcEmail}, tc_phone = #{tcPhone}
        </if>
        WHERE seq = #{seq}
    </update> 	
    
    <delete id="deleteUser" parameterType = "int"> 
        DELETE FROM tb_cs_info_user 
        WHERE seq = #{seq} 
    </delete>
    
     <insert id="insertUser" parameterType = "Map" useGeneratedKeys="true" keyProperty="seq" >
		INSERT INTO tb_cs_info_user (
		tc_id, tc_pw, tc_name, tc_nick, tc_email, tc_phone ) 
		VALUES (
		#{tcId},#{tcPw},#{tcName},#{tcName},#{tcEmail},#{tcPhone} );
    </insert>
    
    <select id="checkUserId" resultType="int">
        SELECT COUNT(*) as cnt
        FROM tb_cs_info_user 
        WHERE tc_id = #{code}
    </select>
    
    <select id="getUser" resultMap="userResult">
        select * 
        from tb_cs_info_user
		where tc_id = #{userId};
    </select>
    
    <select id="getList" resultType="UserRegisterVo">
		select seq AS seq
				, tc_id  as tcId
				, tc_pw as	tcPw
				, tc_name AS tcName
				, tc_phone AS tcPhone
				, tc_level as tcLevel
				, tc_email as tcEmail	
				, tc_regdate AS tcRegdate
				,(
					SELECT count(tiu.seq) 
					FROM tb_cs_info_user tiu
					<where>
			      	<if test='activeMenu == 1'>
			       		AND tiu.tc_useyn = 1
			        </if>       	 
			      	<if test='activeMenu == 2'>
			       		AND tiu.tc_useyn = 0
			        </if>
			      	<if test='userType != null and userType != "" and userType == 100'>
			       		AND tc_level = 100
			        </if>
			      	<if test='userType != null and userType != "" and userType == 0'>
			       		AND tc_level = 0
			        </if>  			        
			      	<if test='tcId != null and tcId != "" '>
			       		AND tiu.tc_id like CONCAT('%', #{tcId}, '%')
			        </if> 
			      	<if test='tcName != null and tcName != "" '>
			       		AND tiu.tc_name like CONCAT('%', #{tcName}, '%')
			        </if> 
			      	<if test='tcPhone != null and tcPhone != "" '>
      					AND tiu.tc_phone like CONCAT('%', #{tcPhone}, '%')
			        </if>
			        </where>    
				) AS hiddenCount				 		
      	from tb_cs_info_user
      	<where>
      	<if test='activeMenu == 1'>
       		AND tc_useyn = 1
        </if>       	 
      	<if test='activeMenu == 2'>
       		AND tc_useyn = 0
        </if>
      	<if test='userType == 100'>
       		AND tc_level = 100
        </if>
      	<if test='userType == 0'>
       		AND tc_level = 0
        </if>                        
      	<if test='tcId != null and tcId != "" '>
       		AND tc_id like CONCAT('%', #{tcId}, '%')
        </if> 
      	<if test='tcName != null and tcName != "" '>
       		AND tc_name like CONCAT('%', #{tcName}, '%')
        </if> 
      	<if test='tcPhone != null and tcPhone != "" '>
      		AND tc_phone like CONCAT('%',#{tcPhone},'%')
        </if>
        </where>                      	
      	order by tc_regdate DESC
      	<if test='offsetPageable != null'>
       		limit #{offsetPageable.offset}, #{offsetPageable.pageSize}
        </if>      		
    </select> 

    <select id="userinfo" resultType="Map">
		select 
				tc_id  as tcId
				, tc_pw as	tcPw
				, tc_name AS tcName
				, tc_phone AS tcPhone
				, tc_email AS tcEmail	
				, tc_level as tcLevel			 		
				, tc_useyn as tcUseyn			 		
      	from tb_cs_info_user
		where tc_id =    #{userId}   		
    </select>   

    <update id="removeUser"  > 
        UPDATE tb_cs_info_user SET tc_useyn= 0 
		WHERE tc_id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </update>       

    <update id="saveUser"  > 
        UPDATE tb_cs_info_user SET tc_useyn= 1 
		WHERE tc_id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </update>   

    <update id="permanentlyUser"  > 
        UPDATE tb_cs_info_user SET tc_useyn= 3 
		WHERE tc_id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </update> 
    
    <select id="getUserForReg" resultType="userRegisterVo">
        select 
        		tc_id  as tcId
				, tc_pw as	tcPw
				, tc_name AS tcName
				, tc_phone AS tcPhone
				, tc_email AS tcEmail	
				, tc_level as tcLevel
        from tb_cs_info_user
		where tc_id = #{userId};
    </select>   

    <update id="changeUserinfo"  > 
		UPDATE tb_cs_info_user
      	SET   
				tc_pw = #{userPw}
				, tc_name = #{userName}
				, tc_phone = #{userPhone}
				, tc_email = #{userEmail}	
				, tc_level = #{userLevel}
       WHERE tc_id = #{userId}
    </update>      

    <update id="changeUserinfoNotPw"  > 
		UPDATE tb_cs_info_user
      	SET   
				tc_name = #{userName}
				, tc_phone = #{userPhone}
				, tc_email = #{userEmail}	
				, tc_level = #{userLevel}
       WHERE tc_id = #{userId}
    </update>

                          
</mapper>