<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vol.solunote.mapper.tts.TtsMapper">
    <insert id ="saveAudio" parameterType="Map" useGeneratedKeys="true" keyProperty="seq">
    	INSERT INTO tb_cs_tts_keyword (
    	keyword_text,
    	keyword_sound,
    	keyword_detail,
    	tts_text,
    	tts_pronounce,
    	time_duration_ms,
    	file_org_nm,
    	file_new_nm,
    	file_size_bytes,
    	tc_user_seq 	
    	) VALUES (
		#{keyword},
		#{speech},
		#{detail},
		#{keywordText},
		#{pronounceText},
		#{timeDurationStr},
		#{orgnm},
		#{newnm},
		#{fileSizeBytes},
		#{tcUserSeq}		
    	)
    </insert>    
    <insert id ="crateTitle" parameterType="Map" useGeneratedKeys="true" keyProperty="seq">
    	INSERT INTO tb_cs_tts (
		subject,
    	tc_user_seq 	
    	) VALUES (
		#{title},
		#{tcUserSeq}		
    	)
    </insert>     
    <update id="updateAudio" parameterType="Map"   > 
        UPDATE tb_cs_tts_keyword
        SET tts_seq = #{titleSeq}
		WHERE seq = #{seq}
    </update>  
    <select id="getAudioInfo" parameterType="Map" resultType="Map">
		select 
        	seq as seq
        	, tts_seq as  ttsSeq
        	, keyword_text	as keywordText
        	, keyword_sound	as keywordSound
        	, tts_text		as ttsText
        	, time_duration_ms	as timeDurationMs
        	, tc_user_seq		as tcUserSeq
        	, file_new_nm		as newnm
        	, status		
        from tb_cs_tts_keyword
        where seq = #{seq}
    </select> 
    <update id="updateTts" parameterType="Map">
        update tb_cs_tts_keyword 
		<set>
        	<if test='sttStartedAt != null'>
        		, stt_started_at = #{sttStartedAt}
        	</if>
        	<if test='sttDuration != null'>
        		, stt_duration = #{sttDuration}
        	</if>
        	<if test='errorMessage != null'>
        		, error_message = #{errorMessage}
        	</if>
        	<if test='reliability != null'>
        		, reliability = #{reliability}
        	</if>
        	<if test='channelCount != null'>
        		, channel_count = #{channelCount}
        	</if>
        	<if test='fileStereoPrefix != null'>
        		, file_stereo_prefix = #{fileStereoPrefix}
        	</if>
		</set>
        where seq = #{seq}
    </update>   
	<select id="getList" resultType="Map">
	    SELECT 
	        ss.seq AS seq,
	        ss.subject,
	        DATE_FORMAT(ss.created_at, '%Y-%m-%d %H:%i') AS createdAt,
	        DATE_FORMAT(ss.updated_at, '%Y-%m-%d %H:%i') AS updatedAt,
	        DATE_FORMAT(ss.deleted_at, '%Y-%m-%d %H:%i') AS deletedAt,
	        DATE_FORMAT(ss.trashed_at, '%Y-%m-%d %H:%i') AS trashedAt,
	        ss.click_least_once AS clickLeastOnce,
	        (
	            SELECT COUNT(s.seq)
	            FROM tb_cs_tts s 
	            WHERE s.seq > 0
	            AND s.created_at BETWEEN STR_TO_DATE(#{searchStartDate}, '%Y-%m-%d') AND DATE_ADD(#{searchEndDate}, INTERVAL 1 DAY)
	            <if test='activeMenu == 1'>
	                AND s.deleted_at IS NULL AND s.trashed_at IS NULL
	            </if>
	            <if test='activeMenu == 4'>
	                AND s.deleted_at IS NULL AND s.trashed_at IS NOT NULL
	            </if>
	            <if test='keyword != null and keyword != ""'>
	                AND (s.subject LIKE CONCAT('%', #{keyword}, '%'))
	            </if>      
				<if test='seq != null'>
					AND s.seq = #{seq}
				</if>	              
	        ) AS hiddenCount,
	        (
	            SELECT SUM(ctk.time_duration_ms)
	            FROM tb_cs_tts_keyword ctk
	            WHERE ctk.tts_seq = ss.seq  
	        ) AS timeDurationFormatted,
	        (
	            SELECT AVG(ctk.reliability)
	            FROM tb_cs_tts_keyword ctk
	            WHERE ctk.tts_seq = ss.seq  
	        ) AS reliability,
	        (
	            SELECT COUNT(*)
	            FROM tb_cs_transcription ctr
	            JOIN tb_cs_tts_keyword ctk ON ctr.tts_seq = ctk.seq
	            WHERE ctr.train_text IS NOT NULL 
	            AND ctr.train_text != ''
	            AND ctk.tts_seq = ss.seq 
	        ) AS trainTextCount    	    
	    FROM 
	        tb_cs_tts ss
	    WHERE 
	        ss.seq > 0
	    AND ss.created_at BETWEEN STR_TO_DATE(#{searchStartDate}, '%Y-%m-%d') AND DATE_ADD(#{searchEndDate}, INTERVAL 1 DAY)
	    <if test='activeMenu == 1'>
	        AND ss.deleted_at IS NULL AND ss.trashed_at IS NULL
	    </if>
	    <if test='activeMenu == 4'>
	        AND ss.deleted_at IS NULL AND ss.trashed_at IS NOT NULL
	    </if>
	    <if test='keyword != null and keyword != ""'>
	        AND (ss.subject LIKE CONCAT('%', #{keyword}, '%'))
	    </if>
		<if test='seq != null'>
			AND ss.seq = #{seq}
		</if>	    			    
	    ORDER BY 
	        ss.created_at DESC
	    <if test='offsetPageable != null'>
	        LIMIT #{offsetPageable.offset}, #{offsetPageable.pageSize}
	    </if>		        
	</select>  
    <update id="clickLeastOnce" >
    	update tb_cs_tts
    	set click_least_once = 1
    	where seq = #{seq}
    </update>
    <select id="searchList" resultType="Map">
	    SELECT 
			seq AS seq
			,keyword_text AS keywordText
			,tts_text AS ttsText
			,file_new_nm AS newnm
		FROM tb_cs_tts_keyword
		WHERE tts_seq = #{seq}
    </select>
	<update id="updateTtsList" >
	    UPDATE tb_cs_tts
	    <set>
	        <if test="type == 'trash'">
	            trashed_at = CURRENT_TIMESTAMP
	        </if>
	        <if test="type == 'rollback'">
	            trashed_at = NULL
	        </if>
	        <if test="type == 'delete'">
	            deleted_at = CURRENT_TIMESTAMP
	        </if>
	    </set>
	    WHERE seq = #{seq}
	</update>   
	<update id="updateKeywordDate" >
		UPDATE tb_cs_tts_keyword
	    <set>
	        <if test="type == 'trash'">
	            trashed_at = CURRENT_TIMESTAMP
	        </if>
	        <if test="type == 'rollback'">
	            trashed_at = NULL
	        </if>
	        <if test="type == 'delete'">
	            deleted_at = CURRENT_TIMESTAMP
	        </if>
	    </set>
		WHERE seq in
		 <foreach collection="keywordSeq" item="item" index="index" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </update>	                            
</mapper>