<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8" />
    <title>K-NOTE</title>
    <th:block layout:fragment="script">
        <script type="text/javascript" th:src="@{/js/menu21/menu21.js}"></script>
        <script type="text/javascript" th:src="@{/js/menu21/menu21-detail.js}"></script>	     
    </th:block>
</head>
<body>
    <div layout:fragment="content" class="common_content">
        <div th:replace="~{thymeleaf/menu21/content/table-content}"></div>	
    </div>
</body>
</html>