<div  class="tbl_btns" th:fragment="pageButtonFragment">
	<div class="left_btns">
		<button th:if="${liveMenu} == '1' or ${liveMenu} == '2'" id="trash-btn" class="choice_btn" th:text="${#messages.msg('menu21.page_button.btn2')}">선택삭제</button>
		<button sec:authorize="hasAnyRole('ROLE_ADMIN')" th:if="${liveMenu} == '1'" id="to-train-btn" class="choice_btn" th:text="${#messages.msg('menu21.page_button.btn.toTrain')}">학습Data 전송</button>
		<button sec:authorize="hasAnyRole('ROLE_ADMIN')" th:if="${liveMenu} == '1'" id="to-test-btn" class="choice_btn" th:text="${#messages.msg('menu21.page_button.btn.toTest')}">테스트Data 전송</button>
		<button th:if="${liveMenu} == '3'" id="rollback-trash-btn" class="test_btn" th:text="${#messages.msg('menu21.page_button.btn3')}">선택복원</button>
		<button th:if="${liveMenu} == '3'" id="delete-btn" class="test_btn" th:text="${#messages.msg('menu21.page_button.btn4')}">영구삭제</button>
	</div>
	<div class="tbl_right">
		<div class="table_total">[[${#messages.msg('menu21.page_button.page.span1')}]] <span id="tableTotal">0</span>[[${#messages.msg('menu21.page_button.page.span2')}]]</div>
		<div class="select-container">
			<select name="page_count" class="custom-select" id="page_count">
				<option value="10" th:text="${#messages.msg('menu21.page_button.page1')}">10개씩</option>
				<option value="30" th:text="${#messages.msg('menu21.page_button.page2')}">30개씩</option>
				<option value="50" th:text="${#messages.msg('menu21.page_button.page3')}">50개씩</option>
				<option value="100" th:text="${#messages.msg('menu21.page_button.page4')}">100개씩</option>
			</select>
		</div>
		<button th:if="${liveMenu} == '1'" id="create-btn" class="upload_btn" th:text="${#messages.msg('menu21.page_button.btn1')}">등록</button>
	</div>
</div>

