<tr th:each="item, stat : ${cPages.content}" class="page-data-row" th:attr="data-seq=${item.seq}">
    <td style="width: 5%;" th:text="${stat.count + (cPages.number - 1) * cPages.size}"></td>
	<td class="align_left" style="width: 15%;" th:text="${item.subject}"></td>
	<td class="align_left" style="width: 40%;" th:utext="${item.trainText}"></td>
	<td style="width: 5%;" th:class="${item.useYn == 'Y' ? (item.dataId == '' ? 'useTriangle' : 'useI') : (item.dataId == '' ? 'notUseI' : 'useI')}"></td>
	<td style="width: 15%;" th:utext="${item.dataId}"></td>
	<td style="width: 5%;" th:utext="${item.start}"></td>
	<td style="width: 5%;" th:utext="${item.end}"></td>
	<td style="width: 10%;" th:text="${item.updatedAt}">/td>
</tr> 	
<tr th:if="${cPages.isEmpty() == true}" class="page-data-row">
   <td colspan="7" class="align-middle">데이터가 없습니다.</td>
</tr>
<input type="hidden" id="hiddenCount" th:value="${hiddenCount}"></input>
<input type="hidden" id="hiddenPageSize" th:value="${cPages.pageable.pageSize}"></input>