<tr th:each="item, stat : ${cPages.content}" class="page-data-row page_link" th:attr="data-rowid=${stat.count}">
    <td style="width: 2%;">
        <span class="check-box">
            <img class="unchecked" th:src="@{/images/checck.svg}"/>
            <img class="checked" th:src="@{/images/checck_on.svg}"/>
        </span>
    </td>						
    <td style="width: 4%;" th:text="${stat.count}"></td>
    <td style="width: 10%;"><input class="keywordContentInput1" th:value="${item.keyword}" th:readonly="${step == 3}"></td>
    <td style="width: 10%;"><input class="keywordContentInput2" th:value="${item.speech}" th:readonly="${step == 3}"></td>    
	<td class="transText padding_0" style="width: 15%;">
		<div class="transDivDB editable" th:utext="${item.detail != null ? item.detail : ''}" th:attr="contenteditable=${step == 3 ? 'false' : 'true'}"></div>
	</td>    
	<td class="transText padding_0" style="width: 22%;">
		<div class="transDivDB editable" th:utext="${item.keywordText != null ? item.keywordText : ''}" th:attr="contenteditable=${step == 3 ? 'false' : 'true'}"></div>
	</td>        
	<td class="transText padding_0" style="width: 22%;">
		<div class="transDivDB editable" th:utext="${item.pronounceText != null ? item.pronounceText : ''}" th:attr="contenteditable=${step == 3 ? 'false' : 'true'}"></div>
	</td>        		    
    <td style="width: 15%;" th:attr="id='audioTd-' + ${stat.count}">
        <div class="player" th:if="${step == 3}">
            <div class="play_grid">
                <audio th:id="'sound-'+${item.SEQ}" controls controlsList="nodownload" class="sound" >                    
					<source th:src='@{/keywordtrain/download(fileNm=${item.newnm})}'>                                      
                </audio>
            </div>
        </div>		
    </td>
</tr>
<tr th:each="i : ${#numbers.sequence(1, 10 - cPages.content.size())}" class="page-data-row page_link" 
     th:if="${cPages.content.size() < 10}" th:attr="data-rowid=${cPages.content.size() + i}">
    <td style="width: 2%;">
        <span class="check-box">
            <img class="unchecked" th:src="@{/images/checck.svg}"/>
            <img class="checked" th:src="@{/images/checck_on.svg}"/>
        </span>
    </td>						
    <td style="width: 4%;" th:text="${cPages.content.size() + i}"></td>
    <td style="width: 10%;"><input class="keywordContentInput1" th:placeholder="${#messages.msg('keywordtrain.upload.content.placeholder1')}"></input></td>
    <td style="width: 10%;"><input class="keywordContentInput2" th:placeholder="${#messages.msg('keywordtrain.upload.content.placeholder1')}"></input></td>
	<td style="width: 15%;" class="transText padding_0">
		<div class="transDivDB editable" contenteditable="true"></div>
	</td>   
	<td style="width: 22%;" class="transText padding_0" >
		<div class="transDivDB editable" contenteditable="true"></div>	
	</td>	
	<td style="width: 22%;" class="transText padding_0" >
		<div class="transDivDB editable" contenteditable="true"></div>	
	</td>	
	<td style="width: 15%;" th:attr="id='audioTd-' + ${cPages.content.size() + i}"></td>
</tr>
<tr th:if="${cPages.isEmpty() == true}" class="page-data-row">
   <td colspan="6" class="align-middle">데이터가 없습니다.</td>
</tr>
