<tr th:each="item, stat : ${cPages.content}" class="page-data-row page_link" th:attr="data-configName=${item.configName}">
    <td class="check-box" style="width: 2%;">
	    <span>
	        <img class="unchecked" th:src="@{/images/checck.svg}"/>
	        <img class="checked" th:src="@{/images/checck_on.svg}"/>
	    </span>
	</td>
   <td style="width: 18%;" class="align_left" th:text="${item.configName}"></td>
   <td style="width: 18%;" th:text="${item.configValue}"></td>
   <td style="width: 18%;" th:text="${item.detail}"></td>
   <td style="width: 5%;" th:class="${item.useYn == 'Y'} ? 'useI' : 'notUseI'"></td>
   <td style="width: 8%;" th:text="${item.createdAt}"></td>
   <td style="width: 8%;" th:text="${item.updatedAt}"></td>
</tr>
<tr th:if="${cPages.isEmpty() == true}" class="page-data-row">
   <td colspan="7" class="align-middle" th:text="${#messages.msg('data.empty')}">데이터가 없습니다.</td>
</tr>
<input type="hidden" id="hiddenCount" th:value="${hiddenCount}"></input>
<input type="hidden" id="hiddenPageSize" th:value="${cPages.pageable.pageSize}"></input>