<!-- 공통 고정 타이틀 및 검색 -->
<div id = "tablePage">
	<div class="content_tit fullMeeting_tit" th:switch="${liveMenu}">
	    <div th:case="1" class="title">
	        <h2 th:text="${#messages.msg('sideMenu.confing.subMenu1')}">계정 관리</h2>
	    </div>
	    <div th:case="2" class="title">
	        <h2 th:text="${#messages.msg('sideMenu.confing.subMenu2')}">계정 휴지통</h2>
	    </div>	     	    	    	    	    	     
	    <div th:replace="thymeleaf/mgmt/head_search :: headSearchFragment"></div>  
	</div>
	<!-- //공통 고정 타이틀 및 검색 -->
	
	<!-- 전체 회의록 -->
	<div class="content_desc content_fullMeeting">
	
		<div th:replace="thymeleaf/mgmt/page_button :: pageButtonFragment"></div> 

	    <div class="table_content">
            <table class="table_title">
                <thead>
                    <tr style="height: 40px; background-color: #F2F4F7;">
                        <th style="width: 2%;">
                            <span class="all check-box">
	                            <img class="unchecked" th:src="@{/images/checck.svg}"/>
	                            <img class="checked" th:src="@{/images/checck_on.svg}"/>
                            </span>
                        </th>
                        <th style="width: 3%"><span th:text="${#messages.msg('mgmt.content1.th1')}">번호</span></th>
                        <th style="width: 25%;"><span th:text="${#messages.msg('mgmt.content1.th2')}">아이디</span></th>
                        <th style="width: 15%;"><span th:text="${#messages.msg('mgmt.content1.th3')}">이름</span></th>
                        <th style="width: 10%;"><span th:text="${#messages.msg('mgmt.content1.th4')}">계정유형</span></th>
                        <th style="width: 25%;"><span th:text="${#messages.msg('mgmt.content1.th5')}">전화번호</span></th>
                        <th style="width: 25%;"><span th:text="${#messages.msg('mgmt.content1.th6')}">등록일</span></th>
                    </tr>
                </thead>
            </table>	        
	        <div class="tbl_scroll">
	            <table>
	                <tbody id="tableRow">
	                </tbody>
	            </table>	            
	            <div th:replace="fragments/page_indicator :: pageIndicatorFragment"></div>	           
	        </div>
	    </div>
	</div>
</div>
 <!-- //전체 회의록 -->
 
 
<div id ="userReg" style="display : none;">
        <div class="common_content">
            <!-- 공통 고정 타이틀 및 검색 -->
            <div class="content_tit trainingDetail_tit content_detail_tit">
                <div class="title">
                    <a class="back_btn"><img th:src="@{/images/back_btn.svg}"></a>
                    <h2 th:text="${#messages.msg('mgmt.content1.h2')}">계정등록</h2>
                </div>
            </div>
            <!-- //공통 고정 타이틀 및 검색 -->

            <!-- 계정관리 등록 -->
            <div class="content_desc accountDetail_desc">
                <div class="tbl_btns accountDetail_btns">
                    <div class="tbl_right">
                        <button class="upload_btn" id="btn_regUser" th:text="${#messages.msg('minutes.page_button.btn1')}">등록</button>
                    </div>
                </div>
                <div class="table_content tbl_accountDetail">
                    <table>
                        <tbody>
                            <tr>
                                <th >[[${#messages.msg('mgmt.content1.Res1')}]]<span>*</span></th>
                                <td>
                                    <div class="input_container">
                                        <input type="text" th:placeholder="${#messages.msg('mgmt.content1.Res.placeholder1')}" id="tcId" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                                        <button class="btn_idcheck" th:text="${#messages.msg('mgmt.content1.Res2')}">중복체크</button>
                                        <span class="guide_msg" id="checkId"></span>
                                    </div>
                                </td>
                                <th>[[${#messages.msg('mgmt.content1.Res3')}]]<span>*</span></th>
                                <td>
                                    <div class="input_container">
                                        <input type="text" id="tcName" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                                        <span class="guide_msg" id="checkName"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>[[${#messages.msg('mgmt.content1.Res4')}]]<span>*</span></th>
                                <td>
                                    <div class="input_container">
                                        <input type="password" th:placeholder="${#messages.msg('mgmt.content1.Res.placeholder2')}" id="tcPw" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                                        <span class="guide_msg" id="checkPw"></span>
                                    </div>
                                </td>
                                <th>[[${#messages.msg('mgmt.content1.Res5')}]]<span>*</span></th>
                                <td>
                                    <div class="input_container">
                                        <input type="password" th:placeholder="${#messages.msg('mgmt.content1.Res.placeholder3')}" id="tcPw_cm" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                                        <span class="guide_msg" id="checkPwCm"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>[[${#messages.msg('mgmt.content1.Res6')}]]</th>
                                <td>
                                    <div class="input_container">
                                        <input type="text" id="tcPhone" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                                        <span class="guide_msg" id="checkPhone">* 핸드폰 번호 형식이 틀립니다. 다시 입력해주세요.</span>
                                    </div>
                                </td>
                                <th>[[${#messages.msg('mgmt.content1.Res7')}]]</th>
                                <td>
                                    <div class="input_container">
                                        <input type="email" id="tcEmail" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                                        <span class="guide_msg" id="checkEmail">* 이메일 주소를 입력하세요.</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>[[${#messages.msg('mgmt.content1.Res8')}]]<span>*</span></th>
                                <td colspan="2">
                                    <div class="select-container">
                                        <select name="search" class="custom-select" id="tcLevel">
                                            <option value="100" th:text="${#messages.msg('mgmt.content1.Res9')}">관리자</option>
                                            <option value="0" th:text="${#messages.msg('mgmt.content1.Res10')}">사용자</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- //계정관리 등록 -->
        </div>
</div>	
