<tr th:each="item, stat : ${cPages.content}" class="page-data-row page_link" th:attr="data-userId=${item.tcId}">
    <td class="check-box" style="width: 2%;" >
	    <span>
	        <img class="unchecked" th:src="@{/images/checck.svg}"/>
	        <img class="checked" th:src="@{/images/checck_on.svg}"/>
	    </span>
	</td>
   <td style="width: 3%" th:text="${stat.count + (cPages.number - 1) * cPages.size}"></td>	
   <td style="width: 25%;" th:text="${item.tcId}"></td>
   <td style="width: 15%;" th:text="${item.tcName}"></td>
   <td style="width: 10%;" th:text="${item.tcLevel == 100 ? '관리자':'사용자' }"></td>
   <td style="width: 25%;" th:text="${item.tcPhone}"></td>
   <td style="width: 25%;" th:text="${#strings.substring(item.tcRegdate, 0, 10)  == null ?  '' : #strings.substring(item.tcRegdate, 0, 10)+' '+ #strings.substring(item.tcRegdate, 11, 16)}" ></td>
</tr>
<tr th:if="${cPages.isEmpty() == true}" class="page-data-row">
   <td colspan="6" class="align-middle">데이터가 없습니다.</td>
</tr>
<input type="hidden" id="hiddenCount" th:value="${hiddenCount}"></input>
<input type="hidden" id="hiddenPageSize" th:value="${cPages.pageable.pageSize}"></input>

 	 	

 	