<!-- content -->
<div id="uploadKeyword" th:fragment="uploadKeywordFragment"> 
    <div class="content_tit keyword_tit content_detail_tit">
        <div class="title">
            <a id="several_back" ><img th:src="@{/images/back_btn.svg}" alt=""></a>
            <h2 th:text="${#messages.msg('mgmt.upload.info1')}" >다계정 등록</h2>
        </div>
        <div class="search" >
            <div class="info_grid">
                <div class="info">
                </div>
            </div>
        </div>        
    </div>	
	<div class="content_desc content_fullMeeting">
		<div  class="tbl_btns">
			<div class="left_btns">
				<button class="w_btn" th:text="${#messages.msg('keywordtrain.upload.button5')}" id="low-delete">선택 삭제</button>	
				<button class="w_btn" th:text="${#messages.msg('keywordtrain.upload.button7')}" id="low-add">열 추가</button>	
			</div>
			<div class="tbl_right">
				<button class="w_btn" th:text="${#messages.msg('keywordtrain.upload.button1')}" id= "get_excel">엑셀파일 양식 다운로드</button>			
				<button class="b_btn" style="margin-left:10px" th:text="${#messages.msg('keywordtrain.upload.button2')}" id="excel_upload">엑셀파일 업로드</button>
<!-- 				<button class="b_btn" style="margin-left:15px" th:text="${#messages.msg('mgmt.content1.Res2')}" id= "id_check">중복체크</button> -->
				<button class="upload_btn" style="margin-left:15px" th:text="${#messages.msg('minutes.page_button.btn1')}" id= "id_create">등록</button>
			</div>
		</div>	
	    <div class="table_content">
	        <table class="table_title">
	            <thead>
	                <tr style="height: 40px; background-color: #F2F4F7;">
	                    <th style="width: 5%;">
	                        <span class="all check-box">
	                            <img class="unchecked" th:src="@{/images/checck.svg}"/>
	                            <img class="checked" th:src="@{/images/checck_on.svg}"/>
	                        </span>
	                    </th>	                
	                    <th style="width: 5%" th:text="${#messages.msg('keywordtrain.upload.content1')}">번호</th>
	                    <th style="width: 45%"  th:text="${#messages.msg('mgmt.content1.Res1')}">아이디</th>
	                    <th style="width: 45%;" id="keyword_span" th:text="${#messages.msg('mgmt.content1.Res3')}">이름</th>
	                </tr>
	            </thead>
	        </table>
	        <div class="tbl_scroll"  style="max-height: calc(100vh - 296px);"   >
	            <table>
	                <tbody id="userRow">
						<tr th:each="i : ${#numbers.sequence(1, 10)}" class="page-data-row2" th:attr="data-rowid=${i}">
		                    <td style="width: 5%;">
		                        <span class="check-box">
		                            <img class="unchecked" th:src="@{/images/checck.svg}"/>
		                            <img class="checked" th:src="@{/images/checck_on.svg}"/>
		                        </span>
		                    </td>						
							<td style="width: 5%;">[[${i}]]</td>
							<td style="width: 45%;"><input class = "keywordContentInput1" th:placeholder="${#messages.msg('mgmt.content1.Res.placeholder1')}"></input></td>
							<td style="width: 45%;"><input class = "keywordContentInput2" ></input></td>
						</tr>	                
	                </tbody>
	            </table>	            	           
	        </div>
	        <div th:replace="thymeleaf/keywordtrain/content/upload :: uploadFileFragment"></div> 
	    </div>
	</div>               
</div>	
<!-- //content -->