<!-- content -->
이번에도 핵심적인 문법 오류 원인인 ${#httpServletRequest.getContextPath()}를 제거하고, Thymeleaf 표준 문법인 **@{...}**로 깔끔하게 수정해 드립니다. 특히 이미지 경로와 하단 페이징 처리 부분을 중점적으로 고쳤습니다.

1. 수정된 코드
HTML

<div id="detailPage">
    <div class="common_content">
        <div class="content_tit trainingDetail_tit content_detail_tit">
            <div class="title">
                <a class="back_btn"><img th:src="@{/images/back_btn.svg}" alt="뒤로가기"></a>
                <h2 th:utext="${vo.subject}"></h2>
            </div>
            <div class="search">
                <div class="info_grid">
                    <div class="info">
                        <span class="tlt" th:text="${#messages.msg('menu23.detail.content.info1')}">출처</span>
                        <span class="desc" th:text="${#messages.msg('menu28.detail.content.info2')}">TTS 음성파일</span>
                    </div>
                    <div class="info">
                        <span class="tlt" th:text="${#messages.msg('menu23.detail.content.info3')}">신뢰도</span>
                        <span class="desc" th:utext="${vo.reliability}"></span>
                    </div>
                    <div class="info">
                        <span class="tlt" th:text="${#messages.msg('menu23.detail.content.info4')}">수정문장수</span>
                        <span class="desc" th:utext="${vo.trainTextCount}"></span>
                    </div>
                    <div class="info">
                        <span class="tlt" th:text="${#messages.msg('menu23.detail.content.info5')}">파일 길이</span>
                        <span class="desc" th:text="${vo.timeDurationFormatted}"></span>
                    </div>
                    <div class="info">
                        <span class="tlt" th:text="${#messages.msg('menu23.detail.content.info6')}">등록일</span>
                        <span class="desc" th:utext="${vo.createdAt}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_desc content_fullMeeting">
            <div class="table_info">
                <div class="table_info_left">
                    <div class="search_txt" style="margin-left : 0px;">
                        <div class="search_box">
                            <div class="custom-number-input">
                                <input id="reliability" type="number" th:placeholder="${#messages.msg('menu23.detail.content.placeholder')}" style="width : 125px;">
                                <div class="custom-spin-buttons">
                                    <div class="spin-up"></div>
                                    <div class="spin-down"></div>
                                </div>
                            </div>
                        </div>
                        <button class="search_btn" id="select-btn" th:text="${#messages.msg('search.search')}">검색</button>
                    </div>
                </div>
                <div class="table_info_right">
                    <div class="table_total">
                        <span th:text="${#messages.msg('menu21.page_button.page.span1')}"></span> 
                        <span id="spanPopupCount"></span>
                        <span th:text="${#messages.msg('menu21.page_button.page.span2')}"></span>
                    </div>
                    <div class="select-container">
                        <select name="pop_page_count" class="custom-select" id="pop_page_count">
                            <option value="10" th:text="${#messages.msg('menu21.page_button.page1')}">10개씩</option>
                            <option value="30" th:text="${#messages.msg('menu21.page_button.page2')}">30개씩</option>
                            <option value="50" th:text="${#messages.msg('menu21.page_button.page3')}">50개씩</option>
                            <option value="100" th:text="${#messages.msg('menu21.page_button.page4')}">100개씩</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="table_content">
                <table class="table_title">
                    <thead>
                        <tr style="height: 40px; background-color: #F2F4F7;">
                            <th style="width: 4%;" th:text="${#messages.msg('menu23.detail.content.th1')}">번호</th>
                            <th style="width: 6%;" th:text="${#messages.msg('menu28.detail.content.th10')}">키워드</th>
                            <th style="width: 6%;" th:text="${#messages.msg('menu23.detail.content.th2')}">문장신뢰도</th>
                            <th style="width: 26%;">STT Text</th>
                            <th style="width: 26%;" th:text="${#messages.msg('menu28.detail.content.th4')}">TTS 학습문장</th>
                            <th style="width: 3%;" th:text="${#messages.msg('menu23.detail.content.th5')}">확인</th>
                            <th style="width: 5%;" th:text="${#messages.msg('menu23.detail.content.th7')}">시작</th>
                            <th style="width: 14%;">Player</th>
                            <th style="width: 5%;" th:text="${#messages.msg('menu23.detail.content.th8')}">종료</th>
                            <th style="width: 5%;" th:text="${#messages.msg('menu23.detail.content.th9')}">길이</th>
                        </tr>
                    </thead>
                </table>
                <div class="tbl_scroll">
                    <table class="tbl_detail" id="div_content_list">
                        <tbody th:replace="~{thymeleaf/menu28/content/detail-list}"></tbody>
                    </table>                                            
                    <div class="tbl_pagination_detail">
                        <ul>
                            <li><a class="arrow first" style="display:none"><img th:src="@{/images/pagi_first.svg}" alt="처음"></a></li>
                            <li><a class="arrow prev" style="display:none"><img th:src="@{/images/pagi_prev.svg}" alt="이전"></a></li>
                            <li><a class="arrow next" style="display:none"><img th:src="@{/images/pagi_next.svg}" alt="다음"></a></li>
                            <li><a class="arrow last" style="display:none"><img th:src="@{/images/pagi_last.svg}" alt="끝"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- //content -->