<tbody>
	<tr class="page-data-row" th:each="item, stat : ${cPages.content}" th:attr="data-seq=${item.seq}">
		<td style="width: 4%;" th:text="${stat.count + (cPages.number - 1) * cPages.size}"></td>
		<td style="width: 6%;" th:utext="${item.keywordText}"></td>
		<td style="width: 6%;" th:utext="${item.reliability}"></td>
		<td style="width: 26%;" class="stt_txt padding_0">
			<p class="trainingData_text" th:text="${item.sttText}"></p>
		</td>
		<td class="transText padding_0" style="width: 26%;">
			<div class="transDivDB editable" contenteditable="true" spellcheck="false" th:text="${#strings.isEmpty(item.trainText) ? item.TtsText : item.trainText}" style="display: none"></div>
		</td>
		<td class="check-box" style="width: 3%;">
			<span> 
				<img class="unchecked" th:src="@{/images/checck.svg}"> 
				<img class="checked" th:src="@{/images/checck_on.svg}">
			</span>
		</td>
		<td style="width: 5%;">
			<div class="start" th:text="${item.start}"></div>
		</td>
		<td style="width: 14%;">
			<div class="player">
				<div class="play_grid">
					<audio th:id="'sound-'+${stat.index}" controls controlsList="nodownload" class="sound" data-status="on">
						<source th:src='@{/menu28/download(fileNm=${item.newnm})}'> 
					</audio>
					<div th:if="${waveValue} == 1" th:attr="id='img-'+${item.seq}, class='wave'">
						<img th:src="@{/images/blank_wave.png}"> 
					</div>
				</div>
			</div>
		</td>
		<td style="width: 5%;">
			<div class="end" th:text="${item.end}"></div>
		</td>
		<td style="width: 5%;" class="timeLength" th:text="${#numbers.formatDecimal(item.end-item.start,0,2)}"></td>
	</tr>
	<tr th:if="${cPages.isEmpty() == true}">
		<td colspan="11" style="text-align: center; line-height: 2.5">데이터가 없습니다.</td>	
	</tr>
</tbody>
<input type="hidden" id="hiddenTrainTextCount" th:value="${trainTextCount}"></input>	
<input type="hidden" id="hiddenCategory" th:value="train"></input>				
<input type="hidden" id="hiddenSeq" th:value="${hiddenSeq}"></input>				
<input type="hidden" id="hiddenReliability" th:value="${reliability}"></input>		
<input type="hidden" id="popupCount" th:value="${hiddenCount}"></input>
<input type="hidden" id="popupPageSize" th:value="${cPages.pageable.pageSize}"></input>