<!-- 공통 고정 타이틀 및 검색 -->
<div id = "tablePage">
	<div class="content_tit fullMeeting_tit" th:switch="${liveMenu}">
	    <div th:case="1" class="title">
	        <h2 th:text="${#messages.msg('sideMenu.keyword.subMenu1')}">키워드 Data 생성</h2>
	    </div>
	    <div th:case="4" class="title">
	        <h2 th:text="${#messages.msg('sideMenu.keyword.subMenu4')}">휴지통</h2>
	    </div> 
	     
	    <div th:replace="thymeleaf/menu28/head_search :: headSearchFragment"></div>  

	</div>
	<!-- //공통 고정 타이틀 및 검색 -->
	
	<!-- 전체 회의록 -->
	<div class="content_desc content_fullMeeting">
	
		<div th:replace="thymeleaf/menu28/page_button :: pageButtonFragment"></div> 

	    <div class="table_content">
	        <table class="table_title">
	            <thead>
	                <tr style="height: 40px; background-color: #F2F4F7;">
	                    <th style="width: 3%;">
	                        <span class="all check-box">
	                            <img class="unchecked" th:src="@{/images/checck.svg}"/>
	                            <img class="checked" th:src="@{/images/checck_on.svg}"/>
	                        </span>
	                    </th>
	                    <th style="width: 5%"><span th:text="${#messages.msg('menu28.content1.th1')}">번호</span></th>
	                    <th style="width: 40%;"><span th:text="${#messages.msg('menu28.content1.th2')}">학습그룹</span></th>
	                    <th style="width: 5%"><span th:text="${#messages.msg('menu28.content1.th3')}">신뢰도</span></th>
	                    <th style="width: 5%;" th:text="${#messages.msg('menu28.content1.th4')}">수정문장수</th>
	                    <th style="width: 10%;" th:text="${#messages.msg('menu28.content1.th5')}">파일길이</th>
	                    <th style="width: 16%;" th:text="${#messages.msg('menu28.content1.th6')}"><span>등록일시</span></th>
	                    <th style="width: 16%;" th:text="${#messages.msg('menu28.content1.th7')}">수정일시</th>
	                </tr>
	            </thead>
	        </table>
	        <div class="tbl_scroll">
	            <table>
	                <tbody id="tableRow">
	                </tbody>
	            </table>
	            
	            <div th:replace="fragments/page_indicator :: pageIndicatorFragment"></div>	            
	        </div>
	    </div>
	</div>
</div>
 <!-- //전체 회의록 -->
